.DS_Store
paper/__pycache__/
paper/analysis/__pycache__/
paper/local_config.py
paper/results_1/
paper/bootstrap_results
paper/test.ipynb
paper/plots/
.eggs/*
*.o
*.so
HybridCORELS.egg-info*
dist/*
build/*
HybridCORELS/__pycache__
results
DEADJOE
*.json